@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'bullpen';
  src: local('bullpen'), url('./assets/bullpen.otf') format('truetype');
}
@font-face {
  font-family: 'kalam';
  src: local('kalam'), url('./assets/Kalam-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'homemade';
  src: local('homemade'), url('./assets/Homemade.ttf') format('truetype');
}
@font-face {
  font-family: 'darumadrop';
  src: local('darumadrop'), url('./assets/DarumadropOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'londrina';
  src: local('londrina'), url('./assets/LondrinaShadow-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'titan';
  src: local('titan'), url('./assets/TitanOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'josefin';
  src: local('josefin'), url('./assets/JosefinSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'josefinita';
  src: local('josefinita'), url('./assets/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
}
.about-container {
  filter: url(#grainy-filter);
}
body {
  margin-bottom: 0;
  background-color: #5e628f;
}

.contact-container {
  margin-bottom: 0;
}